@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Bienvenido a SocialFriends</h1>

<form action="/Usuario/Inicio" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="Email">
    </div>
    <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contrasena" name="Contrasena">
    </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</form>
<form action="/Alta/Formulario" method="post">
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
</form>
    @if(TempData["MensajeError"] != null) {
    <div class="alert alert-danger" role="alert">
        @TempData["MensajeError"]
    </div>
}
}