@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SocialFriends @ViewBag.NombreUsuario</h1>
    <p>
        ¡Bienvenido a nuestra emocionante comunidad en línea! Estamos encantados de presentarte a SocialFriends, un espacio digital vibrante donde la conexión cobra vida. En un mundo cada vez más interconectado, SocialFriends se erige como el epicentro donde las amistades florecen, las ideas encuentran su hogar y las experiencias se comparten de manera auténtica.

        Imagina un lugar donde la diversidad es celebrada, donde tus pasiones son el hilo conductor que te une a personas afines en todo el mundo. En SocialFriends, no solo creamos conexiones, sino que también fomentamos un ambiente inclusivo donde todos son bienvenidos a compartir su historia única. Además, en SocialFriends, la privacidad y la seguridad son nuestras prioridades. Queremos que te sientas cómodo siendo tú mismo y compartiendo momentos especiales sin preocupaciones. Tu experiencia en nuestra plataforma está diseñada para ser intuitiva, emocionante y, sobre todo, significativa.

        Únete a SocialFriends y descubre un mundo donde la conexión es más que una palabra; es una experiencia. ¡Bienvenido a tu nuevo hogar digital!
    </p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
